<MudPaper Class="pa-6 rounded-lg" Square="true" Height="550px;">
    <div class="flex">
        <div>
            <MudImage Src="./img/books.png"
                      Style="width:40px; height: 40px; border-radius: 50%;" 
                      Alt="User Profile" Elevation="0"/>
        </div>
        <div class="mx-auto my-auto">
            <div>Anonymous</div>
        </div>
    </div>
    <div class="my-5">
        <div style="font-size: 1rem;" class="text-lg">
            Your Reading Progress
        </div>
        <div style="font-size: 0.8rem;">800 pages left from 2 books</div>
        <MudProgressLinear Color="Color.Success" Rounded="true" Size="Size.Small" Value="75"/>
    </div>

    <div class="my-5">
        <MudNavGroup Title="Reading List" Icon="@Icons.Material.Filled.MenuBook" BadgeData="11">
            <MudNavLink Href="/users">Users</MudNavLink>
            <MudNavLink Href="/security">Security</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Bookmarks" Icon="@Icons.Material.Filled.Bookmark">
            <MudNavLink Href="/users">Users</MudNavLink>
            <MudNavLink Href="/security">Security</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Wish" Icon="@Icons.Material.Filled.Favorite">
            <MudNavLink Href="/users">Users</MudNavLink>
            <MudNavLink Href="/security">Security</MudNavLink>
        </MudNavGroup>
    </div>
</MudPaper>