<MudTabs Elevation="1" class="my-3" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Latest">

        <div class="flex" style="justify-content: space-between;height: 250px;">
            <div>
                <img src="./img/369687459_265703802898465_5812739825502753254_n.jpg" style="width:150px; height: 200px;" alt="Book" class="rounded-lg" />
                <p style="text-align:center; margin-top:1rem; width:150px;">Book Title a ti sdf slf sd skfsd f kls kf</p>
            </div>
            <div>
                <img src="./img/369687459_265703802898465_5812739825502753254_n.jpg" style="width:150px; height: 200px;" alt="Book" class="rounded-lg" />
                <p style="text-align:center; margin-top:1rem;">Book Title</p>
            </div> 
            <div>
                <img src="./img/369687459_265703802898465_5812739825502753254_n.jpg" style="width:150px; height: 200px;" alt="Book" class="rounded-lg" />
                <div style="text-align:center; margin-top:1rem;">Book Title</div>
            </div>
            <div>
                <img src="./img/369687459_265703802898465_5812739825502753254_n.jpg" style="width:150px; height: 200px;" alt="Book" class="rounded-lg" />
                <div style="text-align:center; margin-top:1rem;">Book Title</div>
            </div>
            <div>
                <div style="text-align:center;line-height:200px;">See all</div>
            </div>
        </div>
    </MudTabPanel>
    <MudTabPanel Text="Tab Two">
        <div class="flex" style="justify-content: space-between;align-items: center; height: 250px;"></div>
    </MudTabPanel>
       <MudTabPanel Text="Tab Disabled">
        <div class="flex" style="justify-content: space-between;align-items: center; height: 250px;"></div>
    </MudTabPanel>
</MudTabs>