@page "/"
@page "/book_shelf"
@inject BookShelfService _BookShelfService;

@if (_bookShelf is not null && _bookShelf.BookList.Count <= 4)
{
    <div class="bookshelf">
        <div class="book-grid">
            <ul>
                @foreach (var item in _bookShelf.BookList)
                {
                    <li> <img @onclick="()=> ToDetail(item)" src="@item.BookCover" /></li>
                }
            </ul>
        </div>
        <div class="shelf-shadows"></div>
        <div class="shelf"></div>
    </div>
}
else if (_bookShelf is not null && _bookShelf.BookList.Count > 4)
{
    @for (int outer = 0; outer < 2; outer++)
    {

        <div class="bookshelf">
            <div class="book-grid">
                <ul>
                    @for (int inner = 1; inner <= 4; inner++)
                    {
                        @if (_bookShelf.BookList.Count != _counter)
                        {
                            var item = _bookShelf.BookList.Count != _counter ?
                            _bookShelf.BookList[_counter]
                            : _bookShelf.BookList[_bookShelf.BookList.Count - 1];
                            <li>
                                <img @onclick="()=> ToDetail(item)" src="@item.BookCover" />
                            </li>
                            _counter++;
                        }
                    }
                </ul>
            </div>
            <div class="shelf-shadows"></div>
            <div class="shelf"></div>
        </div>
    }
    _counter = 0;
}
@if (_bookShelf is not null)
{
    <div class="text-center" style="text-align: center;margin-top: -2.5rem;">
        <MudPagination SelectedChanged="PageChanged" ShowFirstButton="true" ShowLastButton="true"
                       Count="@(_bookShelf.TotalPage)"
                       Class="mt-0 pt-0" />
    </div>
}


@code {
    private BookShelfResponseModel? _bookShelf { get; set; }
    private int _counter = 0;

    protected override async Task OnInitializedAsync()
    {
        _bookShelf =await _BookShelfService.GetBookShelf();
    }

    async Task PageChanged(int pageNo = 1)
    {
        int pageSize = 8;
        _counter = 0;
        _bookShelf = await _BookShelfService.GetBookShelf(pageNo);
       
    }

    void ToDetail(BookViewModel model)
    {
        // _counter = _bookShelfLst.BookList.Count;
        Console.WriteLine(_counter);
        var item = model;
       // _nav.NavigateTo($"/read-book/{item.BookId}/{item.BookCode}");
    }
}