@page "/"
@inject BookService _bookService

<h3>PageBookList</h3>

@foreach (var book in BookListResponse.BookList)
{
    <div>@book.BookTitle</div>
}

@code {
    private BookListResponseModel BookListResponse { get; set; }

    protected override async Task OnInitializedAsync()
    {
        BookListResponse = await _bookService.GetBookList();
    }
}
