.bookshelf {
    width: 900px;
    margin: 4rem auto;
    text-align: center;
    position: relative;
}

.book-grid {
    z-index: 4;
    position: relative;
    transform: translateY(-15px);
}

.book-grid ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.book-grid ul li {
    justify-self: center;
}

.book-grid ul img {
    display: block;
    box-shadow: 0px -5px 20px 2px rgba(0, 0, 0, 0.3);
    /*width: 200px;*/
    /*height: 300px;*/
    height: 180px;
    -o-object-fit: cover;
    object-fit: cover;
    aspect-ratio: 115/180;
}

.shelf-shadows {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    border-radius: 2px;
    z-index: 1;
    box-shadow: 0px -5px 3px 0px rgba(170, 170, 170, 0.2), 0px 15px 20px 0px rgba(170, 170, 170, 0.7), 0px 5px 5px 0px rgba(119, 119, 119, 0.3);
}

.shelf {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-color: #f9f9f9;
    border-radius: 2px;
    z-index: 3;
}

.book-grid ul li img:hover {
    transform: translate(0, -40px) skew(3deg, -3deg) scale(1.15);
    transition: transform 600ms cubic-bezier(0.34, 1.56, 0.64, 1), opacity 600ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.book-grid ul li img {
    transition: all 300ms ease-out;
}